
.badan{
	width: auto;
	height: auto;	
	background-color: none;
}

.monitor{
	width: 600px;
	height: 250px;
	background-color: white;
	align-content: center;
	margin: auto;
	font-size: 210px;
	text-align: center;
	opacity: 0.9
}
.tombol{
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 180px;
	margin-bottom:0px;
	margin: auto;
	display: flex;
	background-color: none;
}

.kotak{
	height: 60px;
  	width: 60px;
  	display: inline-block;
  	border-radius: 25px;
  	background-color: orange;
  	margin: 50px;
  	padding: 0px 50px 0px;
  	text-align: center;
  	font-size: 50px;
  	opacity: 0.8
 }


 body{
 	background-image: url(bgiine1.png);
 	background-size: cover;
 }

 .wee{
 	background-color: ;
 	font-family: meiryo;
	text-align: center;
	color: white;
	height: 110px;
	font-size: 20px;
	line-height: 0;
 }
.gede{
	font-size: 50px;
}

.container{
	background-color: ;
}
